.todo-group {
  margin-top: 3rem;
  .todo-group__enter {
    margin-bottom: 1rem;
    padding: 0;
    .form-group {
      margin-left: 0!important;
    }
  }
  .todo-group__list {
    
  }
}
.todo-list {
  padding: 0;
  min-width: 300px;
  li {
    padding: 1rem 0;
    padding-right: 3.5rem;
  }
}